* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(234, 224, 207);
  background-color: rgb(33, 52, 72);
  text-align: center;
}

h1 {
  height: 20vh;
  font-size: 3rem;
}

.btn {
  height: 20vh;
  width: 20vh;
  border-radius: 10%;
  /* background-color: white; */
  background-color: rgb(234, 224, 207);
  color: rgb(26, 40, 55);
  /* font-size: 1000%; */
}

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  /* gap: 5%; */
  /* align-items: center; */
}

.game {
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.row {
  display: flex;
  gap: 3%;
}

.row .btn {
  font-size: 5rem;
}

.reset {
  margin-top: 3vh;
  height: 6vh;
  width: 20vw;
  font-size: 2.5em;
  background-color: rgb(234, 224, 207);
}

.reset-wrap {
  display: flex;
  justify-content: center;
}
